body
{
  margin-top: 60px;
}
*
{
  font-family: 'Muli', sans-serif;  
  list-style-type: none;
}

.gb-home
{
  float: middle;
}

nav
{
 -webkit-box-align: center;
    -webkit-box-direction: reverse;
    -webkit-box-flex: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: justify;
    align-items: center;
    flex: 1 1 auto;
    flex-direction: row-reverse;
    justify-content: space-between;
    background-color: #23272A; 
}
header 
{
  background-color: #23272A;
  position: fixed;
  display: block;
  list-style-type: none;
  width: 100%;
  height: 50px;
  left: 0px;
  top: 0px;
  z-index:998;
  box-shadow: 4px 4px 8px; 
  opacity: 1; 
}


  .nav-li 
{
                    
text-decoration: none;
list-style-type: none;
font-size: 14px;
transition: .2s;
margin-right: 20px;
overflow: hidden;
float: left;
text-align: center;
padding: 5px;
color: #ffffff;
background-color: #23272A;
  
}

div
{
  text-align: center;
}



a
{
  text-decoration: none;
  color: black;
}

a:hover
{
  color: #33FF6B;
}

.footer
{
  width: 100%;
  background-color: black;
  color: gray;
  text-align: center;
}

.main 
{
  width: 100%;
  height: 100%;
  background-color: white;
  color: black;

}

.head
{
 top: 50%; 
 font-size: 300%;
}

.info-s
{
  top: 75%;  
}

.page2-commands
{
  width: 100%;
  height: 30%;
  background-color: black;
  color: white;
}

.cmds-list
{
  list-style-type: none;
  text-decoration: none;
  top: 40%;  
}

.cmds
{
 margin: 7px;
 list-style-type: none; 
}





































